<table>
  <th>
    <td>Email</td>
    <td>Username</td>
    <td>Winner</td>
  </th>
<% @entries each do |entry| %>
  <tr>
    <td><%= entry.email %></td>
    <td><%= entry.username %></td>
    <td><%= if entry.winner = true %></td>
  </tr>
<% end %>

</table>
