<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
      <a class="close" data-dismiss="alert">&#215;</a>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    </div>
  <% end %>
<% end %>

<h2>Thank you for entering</h2>
<p>
  Email: <%= @entry.email %> <br>
  Username: <%= @entry.username %>
</p>
<p>
  <strong>Good luck, now go shopping!</strong>
</p>

<a href="http://www.tandjdesigns.com" class="btn btn-primary btn-large">Continue to t+j designs</a>

