/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

$linkColor: #FF66CC;
$btnPrimaryBackgroundHighlight: #FF66CC;
$borderRadiusLarge: 0px;
$borderRadiusSmall: 0px;
$baseFontSize: 16px; 

@import "bootstrap";
@import "bootstrap-responsive";

.inline .pin-button {
  position:relative;
  
a {
  position: absolute !important;
  top: 115px;
  left: 80px;
  }
}



.pin-image {
  width: 200px;
}
